{% extends 'base.html.twig' %}

{% block body %}
    <h2 clas="page-header">Latest TODO</h2>
    <table class="table table-striped"> 
        <thead>
            <tr> 
                <th>#</th> 
                <th>First Name</th> 
                <th>Due Date</th> 
                <th>Action</th> 
            </tr> 
        </thead> 
        <tbody> 
            <tr> 
                <th scope="row">1</th> 
                <td>Mark</td> 
                <td>Otto</td> 
                <td><a href="/todo/details/1" class="btn btn-success">View</a> 
                    <a href="/todo/edit/1" class="btn btn-default">Edit</a>
                    <a href="/todo/delete/1" class="btn btn-danger">Delete</a>
                </td>
            </tr> 
            <tr> 
                <th scope="row">2</th> 
                <td>Jacob</td> 
                <td>Thornton</td> 
                <td><a href="/todo/details/2" class="btn btn-success">View</a> 
                    <a href="/todo/edit/2" class="btn btn-default">Edit</a>
                    <a href="/todo/delete/2" class="btn btn-danger">Delete</a>
                </td>
            </tr> 
            <tr>
                <th scope="row">3</th> 
                <td>Larry</td> 
                <td>the Bird</td> 
                <td><a href="/todo/delete/1" class="btn btn-success">View</a> 
                    <a href="/todo/edit/1" class="btn btn-default">Edit</a>
                    <a href="/todo/delete/1" class="btn btn-danger">Delete</a>
            </tr> 
        </tbody> 
    </table>
{% endblock %}


